/.TypeDeclarationSerializer.java._trace
/.VariableDeclarationSerializer.java._trace
/.ActionSerializer.java._trace
/.ExpressionSerializer.java._trace
/.TypeDeclarationSerializer.xtendbin
/.VariableDeclarationSerializer.xtendbin
/.VariableDiagnoser.java._trace
